@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (.dark &);

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none;
  }
}

/* Hide custom cursor elements on touch devices */
@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}

@theme {
  --color-primary: #5044e5;
}
